<div class="post">
	<h3 class="header"><a href="#">Создаем CMS: Урок 1. Базовая структура системы</a></h3>
	<div class="f-bwi content">
		<img class="f-bwi-pic" src="img/kohana.png" alt="kohana">
			<p>Создание небольших проектов (блог или сайт-визитка) освещено довольно хорошо, поэтому решил начать цикл мини уроков по созданию больших проектов на базе Kohana.</p>
			<p>Исходного кода будет не много: я хочу в первую очередь донести идею, иначе, как мне кажется, это приведет к бездумному копипасту :cry:. Уроки будут снабжаться схематическими\упрощенными исходниками, для иллюстрации описанного, но использовать их "как есть" скорее всего не получится. Результатом данных уроков станет работоспособная основа для Вашей CMS.</p>
			<dl>
				<dt>Основные моменты:</dt>
				<dd>Максимально возможное использование функционала и архитектуры Kohana (за основу взята последняя на данный момент версии 3.3).</dd>
				<dd>Упор на масштабируемость т.е. расчет на развитие\расширение системы: разграничение на приложения и модули.</dd>
				<dd>Ориентированность на ООП (абстрагирование, инкапсуляция, наследование и полиморфизм), использование шаблонов проектирования, прежде всего MVC и HMVC, а также Facade, Factory, Builder, Singleton, Observer.</dd>
				<dd>Безопасность: разграничение доступа, валидация\фильтрация данных, шифрование сессии и cookie, использование капчи, CSRF и меток(token).</dd>
				<dd>Использование шаблонизатора(на примере Smarty 3.1 или Fenom 1.3), позволяющего отделить прикладную логику и данные от представления в духе концепции MVC.</dd>
			</dl>
			<a class="show" href="#">Читать далее »</a>
	</div>
	<div class="footer">
		<span class="date">Опубликовано: 20.08.2013 в 17:30</span>
		<span class="categories">Категории: <a href="kohana">Программирование</a>, <a href="kohana">Kohana</a>, <a href="kohana">Создаем CMS</a></span>
		<span class="tags">Теги: <a href="kohana">PHP</a>, <a href="kohana">Kohana</a></span>
	</div>
</div>